* {
  @apply box-border;
}

html,
body {
  @apply font-sans;
}

input {
  @apply rounded-sm px-4 py-2 text-black text-sm;
}

button {
  @apply px-4 py-2 h-12
    rounded-md
    font-semibold text-md 
    cursor-pointer
    not-disabled:(bg-black text-white hover:(bg-gray-900))
    disabled:(bg-gray-400 text-gray-200 hover:(text-gray-300 bg-gray-500));
}

.containerWithCenteredContent {
  @apply grid grid-flow-col justify-center;
}

.dropZone {
  @apply h-12 w-full grid justify-center content-center
    border-2 border-gray-300 rounded-md
    bg-gray-200
    text-sm text-gray-500
    hover:(bg-gray-100);
}

.dropZoneHolder {
  @apply grid grid-flow-col content-start gap-4;
}

.itemsHolder {
  @apply h-full min-h-12 rounded-md overflow-y-auto w-full grid content-start gap-4;
}

.itemsHolderEmpty {
  @apply grid-cols-1;
}

.itemsHolderNonEmpty {
  @apply 
    sm:grid-cols-1
    md:grid-cols-2
    lg:grid-cols-4;
}

.listItem {
  @apply group max-w-md p-4 grid gap-4
    border-2 border-gray-300 rounded-md
    bg-gray-200
    text-sm
    hover:(bg-gray-100);
    grid-template-columns: minmax(10px, min-content) 1fr minmax(10px, min-content);
}

.listItemDetailsContainer {
  @apply max-h-full w-full grid gap-2;
  grid-template-rows: 1fr 10px;
}

.listItemTitle {
  @apply overflow-auto max-w-full max-h-6;
}

.listItemStatus {
  @apply text-xs text-gray-500;
}
